<header class="headerCont">
  <!-- <div class="imgMenu"></div> -->
  <!-- <div class="imgMedal"></div> -->
  <div class="titulo">ReservasUPB</div>

  <div class="menu">
    <a class="element_menu" id="btsec_inicio">Inicio</a>
    <a class="element_menu" id="btsec_espacios">Escenarios</a>
    <a class="element_menu" id="btsec_deportes">Deportes</a>
    <a class="element_menu" id="btsec_contacto">Contacto</a>
    <a class="element_add_menu" id="btsec_login">Login</a>
    <a class="element_add_menu" id="btsec_cerrar_Secion">Cerrar Seción</a>
    <a class="element_add_menu" id="btsec_mis_reservas">Mis Reservas</a>
  </div>

  <!-- <div class="imgProfile" id="btsec_login_menu"></div> -->
</header>